@import "tailwindcss";

:root {
  /* Colors - Gray */
  --gray-600: #9397a1;
  --gray-300: #dadde3;
  --gray-50: #fafafb;
  --gray-20: #ffffff;

  /* Colors - Background */
  --bg-200: rgba(0, 0, 0, 0.2);

  /* Colors - Level */
  --level-master: #de1aff;

  /* Colors - Mint */
  --mint-400: #37f1dd;
  --mint-600: #12ceba;

  /* Colors - Pink */
  --pink-400: #ff77aa;

  /* Colors - VS */
  --vs-kaito: #3468cd;
  --vs-meiko: #d80100;

  /* Colors - Purple */
  --purple-50: #ebebf4;
  --purple-200: #a7a7be;
  --purple-300: #9696b9;
  --purple-600: #55557a;
  --purple-900: #232335;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  max-width: 360px;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Typography - 공통: line-height 150%, letter-spacing -3% */
.text-24-b {
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.text-20-b {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.text-16-b {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.text-16-m {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.text-14-b {
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.text-14-m {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.text-12-b {
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.03em;
}

.text-12-r {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.03em;
}
