@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.app-container {
  width: 100%;
  max-width: 360px;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
